html
{
    background: gray;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 0px;
    color: #353549;
    
    background: #ccc;
}
h1
{
    font-size: 3em;
    margin: 10px;
}
p
{
    line-height: 1.4em;
}
h3
{
    padding-left: 60px;
}
textarea, select
{
    background-color: cadetblue;
    color:#353549;
    border-top: 2px solid #353549;
    border-left: 2px solid #353549;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}
th, td
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
table
{
    border-top: 2px dotted cadetblue;
    padding-top: 5px;
}
#label
{
    border-top: 2px dotted cadetblue;
    text-align: center;
    padding: 20px;
}
#but, input
{
    background-color: cadetblue;
    color:#353549;
}
#blog, #border
{
    border-top: 2px dotted cadetblue;
    padding: 20px;
}
#header
{
    border-top:10px solid cadetblue;
    position: sticky;
    top:  0;
    background: #ccc;
    padding-top: 1px;
    padding-bottom:2px; 
}
.profile
{
    float: left;
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
}
#posts
{
    display: flex;
}
article
{
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
article:nth-of-type(1)
{
  flex:2;
}
article:nth-of-type(2)
{
  flex:2;
}


